
.container {
    margin: 10px;
    background-color: #9f9f9f;
    border: 2px solid black;
    color: aqua;
}

.reset{
    color: rgb(172, 0, 0);
    margin: 10px;
    background-color: #9f9f9f;
    border: 2px solid black;
}